.footer {
		// .footer__container
		&__container {
		}
		// .footer__body
		&__body {
			border-top: 1px solid #D8D8D8;
			display: grid;
			grid-template-columns: 250px 1fr 290px;
			@include adaptiv-value("padding-top", 80, 30, 1);
			@include adaptiv-value("padding-bottom", 80, 30, 1);
			@include adaptiv-value("column-gap", 80, 0, 1);
			@media (max-width: $md1+px){
				grid-template-rows: auto auto;
				grid-template-columns: 1fr 290px;
			}
			@media (max-width: $md2+px){
				display: block;
			}
		}
		// .footer__main
		&__main {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			@media (max-width: $md1+px){
				grid-column: span 2;
					@include adaptiv-value("margin-bottom", 30, 20, 1);
			}
		}
		// .footer__logo
		&__logo {
			margin-bottom: math.div(16px, 24px) * 1em;

		}
		// .footer__text
		&__text {
			color: $grayColor;
			line-height: 150%;
			&:not(:last-child){
				margin-bottom: 1em;
			}
		}
		// .footer__contacts
		&__contacts {
		}
		// .footer__menu
		&__menu {
			@media (max-width: $md2+px){
				@include adaptiv-value("margin-bottom", 30, 20, 1);
			}
		}
		// .footer__subscribe
		&__subscribe {
		}
}

.contacts-footer {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
		// .contacts-footer__item
		&__item {
			display: inline-flex;
			color: $grayColor;
			line-height: 150%;
			transition: color 0.3s ease 0s;
			&::before{
				margin-right: 8px;
			}
			&:not(:last-child){
				@include adaptiv-value("margin-bottom", 16, 8, 1);
			}
			@media (any-hover: hover){
				&:hover{
					color: $greenColor;
				}
			}
		}
}

.menu-footer {
	@media (min-width: $md3+px) {
		display: flex;
	}
		// .menu-footer__column
		&__column {
		@media (min-width: $md3+px) {
		flex: 0 1 33.333%;
		}
		@media (max-width: $md3+px) {
		@include adaptiv-value("margin-bottom", 20, 10, 1);
	}	
		}
		// .menu-footer__title
		&__title {
			cursor: default;
			margin-bottom: math.div(16px, 24px) * 1em;
			@media (min-width: $md3+px) {
			margin-bottom: math.div(16px, 24px) * 1em 0px;
		}
		._init & {
			display: flex;
			width: 100%;
			flex-direction: row-reverse;
			justify-content: space-between;
			align-items: center;
			@extend ._icon-arrow-down;
			&::before {
				@extend %ic;
				font-size: 12px;
				transition: transform 0.3s ease 0s;
			}
		}
		&._active {
			&::before {
				transform: rotate(-180deg);
			}
		}
		}
		// .menu-footer__list
		&__list {
			li {
				&:not(last-child){
					margin-bottom: 16px;
				}
			}
			@media (max-width: $md3+px) {
			padding-top: 15px;
		}
		}
		// .menu-footer__link
		&__link {
			font-weight: 500;
				line-height: 150%;
				color: $darkGrayColor;
				transition: color 0.3s ease 0s;
				&:hover{
					color: $greenColor;
				}
		}
}

.subscribe {
		// .subscribe__title
		&__title {
			margin-bottom: math.div(16px, 24px) * 1em;
		}
		// .subscribe__form
		&__form {
			display: flex;
			position: relative;
				.form__error{
				position: absolute;
				top: 100%;
				margin-left: 3px;
				left: 12px;
				color: red;
				font-size: 12px;
				}
		}
		// .subscribe__input
		&__input {
			width: 100%;
			padding: 0 12px;
			background-color: #F4F5F7;
			font-weight: 400;
			color: $grayColor;
			font-size: 14px;
		}
		// .subscribe__button
		&__button {
			width: 45px;
			height: 45px;
			background-color: $greenColor;
			display: flex;
			flex: 0 0 45px;
			justify-content: center;
			align-items: center;
			font-size: 18px;
			margin-left: 4px;
			transition: background-color 0.3s ease 0s;
			@media  (any-hover: hover){
				&:hover {
					background-color: rgb(7, 129, 109);
				}
			}
		}
		
}
._icon-send {
			color: #fff;
		}